/* sidebar.css */

#hamburger {
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;  
  top: 4%;
  left: 2%;
  z-index: 5;     
  padding: 0;
}

#hamburger svg {
  width: clamp(24px, 2vw, 38px);   
  height: auto;                     
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0px;                     
  height: 100vh;
  padding-top: 5%;             
  background-color: #0E1319CC;
  overflow: hidden;
  pointer-events: none;        
  transition: width 0.5s ease;
  z-index: 4;
}

#sidebar.open {
  width: 12vw;
  pointer-events: auto;         
  padding-top: 5%;             
  padding-left: 1%;
}

.sidebar-item {
  text-decoration: none;
  color: #FFFFFF;
  font-size: clamp(0.7rem, 2vw, 1rem); 
  display: flex;
  align-items: center;
  padding: .5em .7em;
  cursor: pointer;
  z-index: 3;
  white-space: nowrap;
  transform: translateX(-150px);
  transition: transform 0.8s ease;
}

#sidebar.open .sidebar-item {
  transform: translateX(0);
}

.sidebar-item a {
    color: #FFFFFF;        
    text-decoration: none; 
}

.sidebar-item:hover {
  background: rgba(255,255,255,0.1); 
}